body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
    margin: auto;
}
main {
    background-color: rgb(161, 65, 81)
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #cf8f8f;   
}

header {
    background-color: #f6daff;
    color: #e283ca;
    padding: 20px 0;
    text-align: center;
}

nav a {
    color: #b622a7;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;

} 

h2 {
    text-align: center;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
    background-color:aliceblue;
    border:3px;
    width:1000px;
    height: 160px;
    margin: 2px;
    border-radius: 10px;
}

